.user {
  flex: 4;
  padding: 20px;
}
.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
}
.userButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}
.userContainer {
  display: flex;
  margin-top: 20px;
}
.userDisplay {
  flex: 1;
  padding: 20px;
  box-shadow: 10px 10px 10px 0px rgba(207, 190, 190, 0.75);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(207, 190, 190, 0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(207, 190, 190, 0.75);
}
.userUpdate {
  flex: 2;
  margin-left: 20px;
  padding: 20px;
  box-shadow: 10px 10px 10px 0px rgba(207, 190, 190, 0.75);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(207, 190, 190, 0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(207, 190, 190, 0.75);
}
.userDisplayTop {
  display: flex;
  align-items: center;
}
.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.userDisplayTopTitle {
  display: flex;
  flex-direction: column;
}
.userDisplayName {
  font-weight: 600;
}
.userDisplayJobTitle {
  font-weight: 300;
}
.userDisplayBottom {
  margin-top: 20px;
}
.userDisplayTitle {
  font-size: 14px;
  font-weight: 600;
  color: lightslategray;
}
.userDisplayInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}
.userIcon {
  margin-right: 10px;
  font-size: 16px;
}

.imgUpadate {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}
.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.userUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}
.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.userUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}
.userUpdateInput {
  border: none;
  width: 270px;
  height: 30px;
  border-bottom: 1px solid grey;
}
.userUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.userUpdateUpload {
  display: flex;
  align-items: center;
}
.publishIcon {
  cursor: pointer;
}
.updateButton {
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(5, 5, 202);
  color: white;
  font-weight: 600;
}
